body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('/assets/fundo.jpeg'), url('/assets/fundo2.jpeg');
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: 650px 900px, 515px 900px;
  background-color: gray;
}

canvas {
  display: block;
}
